:root {
  --primary-color: #77628c;
  --secondary-color: #acc6aa;
  --accent-color: #71a0a5;
  --tertiary-color: #faf8d7;
  --text-color: #2f2e41;

  --header-font: "Yeseva One", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  --paragraph-font: Mulish, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 900px) {
  h1 {
    font-size: 72px;
  }
}

body {
  font-family: var(--paragraph-font);
  color: var(--text-color);
  background-color: var(--secondary-color);
}

h1 {
  color: var(--primary-color);
  font-family: var(--header-font);
  font-size: 84px;
}

h4 {
  text-align: center;
  font-family: var(--header-font);
}

a {
  text-decoration: none;
}

hr {
  color: var(--accent-color);
}

.hero {
  margin-top: 40px;
  margin-bottom: 30px;
  border: var(--tertiary-color) solid 1px;
  padding: 60px;
  border-radius: 10px;
}

.hero p {
  font-size: 42px;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: bold;
}

.hero h2 {
  padding-left: 110px;
  font-size: 36px;
}

.hero h3 {
  font-size: 20px;
  padding-left: 45px;
  padding-top: 25px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-image {
  padding-left: 0;
}

.nav-links {
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  margin-top: 130px;
  font-size: 26px;
  padding-left: 70px;
}

.button {
  background-color: var(--accent-color);
  padding: 20px 30px;
  border-radius: 20px;
  color: var(--tertiary-color);
  font-family: var(--header-font);
}

.button:hover {
  color: var(--priamary-color);
  opacity: 0.6;
}

.skills p {
  text-align: center;
  padding-top: 20px;
}

#working-woman {
  height: 400px;
}

#about-button {
  padding: 20px 57px;
}

#blog-button {
  padding: 20px 67px;
}

#contact-button {
  padding: 20px 43px;
}

#design-woman {
  height: 200px;
  display: block;
  margin: 0 auto;
}

#coding-woman {
  height: 200px;
  display: block;
  margin: 0 auto;
}

#mobile-projects {
  height: 200px;
  display: block;
  margin: 0 auto;
}
