:root {
  --primary-color: #77628c;
  --secondary-color: #acc6aa;
  --accent-color: #71a0a5;
  --text-color: #2f2e41;

  --header-font: "Yeseva One", Georgia, Times, "Times New Roman", serif;
  --paragraph-font: Mulish, Verdana, sans-serif;
}

/* Medium Screen */

@media (max-width: 990px) {
  h1 {
    font-size: 56px !important;
  }

  #small-screen {
    font-size: 26px;
  }

  #small-screen-hello {
    font-size: 32px;
  }

  #get-in-touch-button {
    font-size: 16px;
  }

  .contact-me-button {
    text-align: center;
  }

  #contact-button-small {
    font-size: 18px;
    margin: 0;
  }

  .app-names {
    font-size: 36px !important;
  }

  .app-description {
    font-size: 18px !important;
  }

  .app-pics {
    height: 300px !important;
  }

  .website-pic {
    height: 200px !important;
  }
}

/* Small Screen */

@media (max-width: 620px) {
  h1 {
    text-align: center;
    padding: 0 !important;
  }

  #small-screen {
    text-align: center;
    padding: 0;
  }

  #small-screen-hello {
    text-align: center;
    padding: 0;
  }

  #small-screen-description {
    text-align: center;
    padding: 0;
  }

  #small-screen-photo {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }

  .experience-buttons {
    flex-direction: column;
    margin: 60px;
  }

  .portfolio-page {
    border: none !important;
  }

  .portfolio-hero {
    margin-bottom: 20px !important;
  }

  .app-names {
    font-size: 30px !important;
  }
}

/* Main Page*/

body {
  font-family: var(--paragraph-font);
  color: var(--text-color);
  background-color: rgba(172, 198, 170, 0.7);
}

h1 {
  color: var(--primary-color);
  font-family: var(--header-font);
  font-size: 84px;
}

h4 {
  text-align: center;
  font-family: var(--header-font);
}

a {
  text-decoration: none;
}

hr {
  color: var(--text-color);
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 0;
}

li {
  font-size: 50px;
}

.hero {
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}

.hero p {
  font-size: 42px;
  margin-bottom: 0;
  padding-left: 40px;
  font-weight: bold;
}

.hero h2 {
  padding-left: 110px;
  font-size: 36px;
  font-weight: bold;
}

.hero h3 {
  font-size: 20px;
  padding-left: 45px;
  padding-top: 25px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero-image {
  padding-left: 0;
}

.nav-links {
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  margin-top: 130px;
  font-size: 26px;
  padding-left: 70px;
}

.button {
  background-color: var(--accent-color);
  padding: 20px 30px;
  border-radius: 20px;
  color: var(--text-color);
  font-family: var(--header-font);
}

.button:hover {
  color: var(--priamary-color);
  opacity: 0.6;
}

.skills p {
  text-align: center;
  padding-top: 20px;
}

.footer {
  margin: 30px;
  padding: 10px 10px 0 10px;
  font-size: 12px;
}

/*About Me */

.content-header {
  text-transform: lowercase;
  color: var(--text-color);
}

.me-photo {
  margin-top: 150px;
  margin-bottom: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px 20px rgb(113, 160, 165, 0.2);
}

.biography {
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}

.get-in-touch-button {
  font-size: 28px;
  margin-left: 700px;
  padding: 20px 60px;
  border-radius: 30px;
  color: var(--text-color);
}

.experience-buttons {
  display: flex;
  justify-content: space-evenly;
}

/* Work Page */

.portfolio-hero {
  text-align: center;
  margin: 80px 0;
}

.portfolio-page {
  border: 1px var(--text-color) solid;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.app-pics {
  height: 400px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.app-names {
  text-align: center;
  font-size: 50px;
  padding-bottom: 5px;
  font-weight: bold;
}

.website-pic {
  height: 300px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.app-description {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 6px;
}

.weather,
.cavalier {
  display: flex;
  flex-direction: row-reverse;
}

.launch-button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 3px;
}

/* Contact Page */

.contact-woman {
  height: 500px;
}

.ways-to-connect {
  border: 3px solid var(--primary-color);
  border-radius: 8px;
  padding: 50px 50px 30px 50px;
  text-align: center;
}

.contact-box {
  padding: 0;
}

/* Main Page */

#working-woman {
  height: 400px;
}

#about-button {
  padding: 20px 57px;
}

#blog-button {
  padding: 20px 67px;
}

#contact-button {
  padding: 20px 43px;
}

#design-woman {
  height: 200px;
  display: block;
  margin: 0 auto;
}

#coding-woman {
  height: 200px;
  display: block;
  margin: 0 auto;
}

#mobile-projects {
  height: 200px;
  display: block;
  margin: 0 auto;
}

/* About Me */

#projects-button {
  font-size: 36px;
  padding: 80px 50px;
  margin-bottom: 30px;
  background-color: rgba(113, 160, 165, 0.2);
  color: var(--text-color);
  font-family: var(--paragraph-font);
}

#resume-button {
  font-size: 36px;
  padding: 80px 50px;
  margin-bottom: 30px;
  background-color: rgba(113, 160, 165, 0.2);
  color: var(--text-color);
  font-family: var(--paragraph-font);
}

/* Contact Page */

#my-email {
  text-transform: lowercase;
  font-size: 42px;
  border-radius: 6px;
}
