:root {
  --primary-color: #77628c;
  --secondary-color: #acc6aa;
  --accent-color: #71a0a5;
  --tertiary-color: #faf8d7;
  --text-color: rgb(58, 55, 62);

  --header-font: "Yeseva One", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  --paragraph-font: Mulish, "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  font-family: var(--paragraph-font);
  color: var(--text-color);
}

h1 {
  color: var(--primary-color);
  font-family: var(--header-font);
  font-size: 84px;
}

.hero {
  margin-top: 50px;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 40px;
  margin-bottom: 30px;
}

.hero p {
  font-size: 42px;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: bold;
}

.hero h2 {
  padding-left: 110px;
  font-size: 36px;
}

.hero h3 {
  font-size: 20px;
  padding-left: 45px;
  padding-top: 25px;
  line-height: 1.5;
}

.working-woman {
  width: 700px;
  padding: 20px 70px;
}
